//文字
@font-size: 		14px;
@font-size-lg: 		16px;
@font-size-sm: 		12px;
@line-height: 		1.7;
@font-family: 		Arial, 'Hiragino Sans GB', 'WenQuanYi Micro Hei', '\5fae\8f6f\96c5\9ed1', 'SimSun', sans-serif;

//基础色
@black: 			#000;
@light: 			#fff;

@gray-darker: 		lighten(@black, 13.5%); // #222
@gray-dark: 		lighten(@black, 20%);   // #333
@gray: 				lighten(@black, 33.5%); // #555
@gray-light: 		lighten(@black, 60%);   // #999
@gray-lighter: 		lighten(@black, 93.5%); // #eee

@text-color: 		@gray;
@link-color: 		inherit;
@link-color-hover: 	@primary;
@selected: 			#39f;
@placeholder: 		#aaa;
@border: 			#e8e9eb;

//情景色
@primary: 			#1d6fb8;
@primary-dark: 		darken(@primary, 20%);
@auxiliary: 		#ff6e0a;
@auxiliary-dark: 	darken(@auxiliary, 20%);
@info: 				#4fcbf0;
@info-dark: 		darken(@info, 20%);
@success: 			#25ae88;
@success-dark: 		darken(@success, 20%);
@warning: 			#fec14c;
@warning-dark: 		darken(@warning, 20%);
@danger: 			#fd7b6d;
@danger-dark: 		darken(@danger, 20%);

//间距
@space: 			1.6 * @font-size;
@space-sm: 			1 * @font-size;
@space-lg: 			2.4 * @font-size;

//版式
@view-width: 		1200px;
@radius: 			4px;

//栅格
@gridColumns: 		12;
@gridGutter: 		2%;

//响应节点
@Pc: 				1024px;
@Pad: 				640px;

//精灵图标
 @sprite-matrix: 	5;
 @sprite-width: 	25px;

//dl.less
@dl-label-width: 	10em;
