.dl dt{font-weight: 700;padding:0 .5em;}
.dl dd{padding:0 .5em;}
.dl-table dt{float: left;clear: left;overflow: hidden;width: @dl-label-width;text-align: right;white-space: nowrap;text-overflow: ellipsis;padding:0;}
.dl-table dd{margin-left: @dl-label-width + 1em;padding:0;}